.square {
  background-color: gray;
  width: 60px;
  height: 60px;
  float: left;
  border: 1px solid black;
}

ul{
  list-style-type: none;
  width: 190px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

li {
  font-size: 60px;
  vertical-align: middle;
  text-align: center;
}

.x {
  color: red;
}

.hide {
  display: none;
}
